*.env
__pycache__/
*.py[cod]
.venv
.DS_Store
.vscode/
requirements.txt
Pipfile
Pipfile.lock
requirements.txt
dev.db
instance/

#hair_url : /static/hair/style/1/color/green
# {hair.hair_url}
Pip*
requirements.txt
