.todo-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
    border-radius: 5px;
    width: 99%;
    box-shadow: lightgray 2px 2px 3px;
}
.todo-card:hover {
    outline: 1px #915bf3 solid;
}
.todo-checkbox-container {
    width: 35px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffbe5c;
}
.todo-checkbox {
    background-color: #ffdfb0;
    width: 70%;
    height: 30%;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.hidden {
    display:none;
}
.todo-checkbox:hover + .hidden {
    /* outline: 1px #915bf3 solid; */
    display: block;
    color: gray;
    background-color: #ffdfb0;
    width: 70%;
    height: 30%;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.todo-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}
.todo-card-title {
    font-size: 18px;
    font-weight: lighter;
}
.todo-title {
    font-size: 24px;
    align-self: flex-start;
}
.todo-card-notes {
    font-size: 10px;
    color: gray;
}
.todo-card-checklist {
    font-size: 14px;
    color: gray;
}
