body {
    margin: 0px;
}

.top-div {
    background-color: #8c52ff;
    font-family: "Varela Round";
    color: white;

}
.upper-form-text{
    display: flex;
    flex-direction: row;
}

.sign-up-form {
    font-family: "Varela Round";
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    /* align-items:center; */

}

.big-quote {
    font-size:48px;
}

.sign-up-form input {
    background-color: #432874;
    padding: 8px;
    color: #8c52ff;
    margin: 10px;
}
.signup-button {
    width: auto;
    background-color: #46a7d8;
    color: white;
    padding-top:10px;
    padding-bottom: 10px;
}
#wizards {
    width: 300px;
    height: 150px;
}

#down-arrow {
    width: 25px;
    height: 25px;
}

#arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bit-pattern-one {
    color: rgb(97, 51, 180)
}
