.habit-card {
    /* border: 1px red solid; */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 2px;
    border-radius: 3px;
    width: 99%;
    box-shadow: lightgray 2px 2px 3px;
}

.habit-card:hover {
    outline: 1px #915bf3 solid;
}

.habit-info-container {
    display: flex;
    flex-direction: column;
}
.habit-notes {
    font-size: 11px;
    color: gray;
}
.habit-title {
    font-size: 16px;
}
.habit-plus-minus {
    width: 35px;
    height: 100%;
    background-color: #25cc8f;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-plus-button {
    /* width: fit-content; */
    background-color: #22a475;
    height: fit-content;
    width: 20px;
    border-radius: 70%;
    border: none;
    color: white;
}

.habit-minus-button {
    background-color: #22a475;
    height: 20px;
    width: 20px;
    border-radius: 70%;
    border: none;
    color: white;
}

.positive-counter {
    font-size: 12px;
}
